body{
	margin: 0px auto;
	width: 90%;
}
header > h1{
	padding: 15px;
	background: black;
	color: white;
	text-align: center;
}
footer{
	background: black;
	color: white;
	text-align: center;
	padding: 15px;
}
